<!-- extend base layout -->
{% extends "scraper.html" %}

{% block content %}
<img class="center-block" src="/static/files/{{ source }}.jpg" width="204"><br>
{% from "macros.html" import render_pagination with context %}

{% include 'dealer_data_chart.html' %}
<div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table table-striped">
        <tbody>
        <tr>
            <th>Pozycja</th>
            <th>Nazwa sklepu</th>
            <th>Oferty poniżej sugerowanej</th>
            <th>Oferty ogółem</th>
        </tr>
        {% for dealer in dealers %}
            <tr>
                <td class="col-md-1">{% if page > 1 %}{{ page }}{{ loop.index0 }}{% else %}{{ loop.index }}{% endif %}</td>
                <td class="col-md-1">{{dealer.name}}</td>
                <td class="col-md-1"><a href="{{ url_for('products_list', source=source, dealer=dealer.name) }}">{{dealer.count_bad_auctions()}}</a></td>
                <td class="col-md-1"><a href="{{ url_for('all_products_list', source=source, dealer=dealer.name) }}">{{ dealer.count_auctions() }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{{ render_pagination(pagination) }}


{% endblock %}