{% macro render_pagination(pagination) %}
<div class="text-center">
  <div class="btn-group">
  {% for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <a class="btn btn-default" href="{{ url_for_other_page(page) }}">{{ page }}</a>
      {% else %}
    <button class="btn btn-default active" aria-pressed="true"><strong>{{ page }}</strong></button>
      {% endif %}
    {% else %}
    </div><span class=ellipsis>…</span><div class="btn-group">
    {% endif %}
  {% endfor %}
  {% if pagination.has_next %}
    <a class="btn btn-default" href="{{ url_for_other_page(pagination.page + 1)}}">Dalej &raquo;</a>
  {% endif %}
  </div>
</div>
{% endmacro %}